<!doctype html>
<html lang="en" ng-app="AngularFlask">
<head>
	<meta charset="utf-8">
	<title>AngularFlask</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="static/lib/bowen_components/fullcalendar.css">
    <link rel="stylesheet" href="/static/css/calendar.css" />


	<script src="/static/lib/angular/angular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
	<script src="/static/lib/angular/angular-resource.js"></script>


    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="/static/lib/bowen_components/moment.js"></script>
    <script src="/static/lib/bowen_components/fullcalendar.js"></script>
    <script src="static/lib/bowen_components/gcal.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/controllers.js"></script>
 	<script src="/static/js/services.js"></script>

</head>
<body>
	<div id="header" class="header navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				</button>
				<a class="brand" href="/">AngularFlask</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="">
							<a href="/">Home</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container page">
		<div id="content" class="container main" ng-view>
		</div>

		<hr>
		<footer id="footer" class="footer">
			<div class="footer-left">
				<a href="/about">About</a> |
				<a href="/">Home</a>
			</div>
			<div class="footer-right">
				<span>&copy; 2013 AngularFlask</span>
			</div>
		</footer>
	</div>
</body>
</html>